<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href={% static '/css/bootstrap.min.css' %}>
    {% block style %}
    {% endblock %}
    <style>
        p.nav-link{
            margin: 0px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-light navbar-inverse">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'index' %}>Učebnice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'calc' %}>Kalkulačka</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'statistics' %}>Statistiky</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={% url 'react' %}>React</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <p class="nav-link">Uživatel: {{ user.get_username }}</p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Odhlásit se</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'login' %}?next={{ request.path }}">Přihlásit se</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</body>
</html>