{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for u in ucebnice %}
        <div class="col-2 my-2">
            {% if u.obrazek %}
            <a href="/ucebnice/{{ u.id|add:"-1"}}">
                <img class="border" src={% static 'img/book.png'  %} alt={{ u.obrazek.url }} style="max-width:150px;max-height:200px;min-width:150px;min-height:200px;">
                <!-- {{ u.obrazek.url }} -->
            </a>
            {% else %}
            <a href="/ucebnice/{{ u.id|add:"-1"}}">
                <div class="border" style="max-width:134px;max-height:200px;min-width:134px;min-height:200px;"></div>
            </a>
            {% endif %}
        </div>
        {% endfor %}
        {% if user.is_authenticated %}
            <div class="col-2 my-2 d-flex align-items-center">
                <a href={% url 'ucebnice-create' %} class="btn bg-success text-light">
                    +
                </a>
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}