{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container p-5">
    <h2>Statistiky</h2>
    <div class="row">
        <div class="col">
            <div class="py-4">
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="col">
            <div class="py-4">
                <canvas id="uspesnostChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="container px-5 mb-5">
        <table class="table table-bordered">
            <tr>
                <th>
                    datum
                </th>
                <th>
                    řešení
                </th>
                <th>
                    příklad
                </th>
                <th>
                    správnost
                </th>
            </tr>
            {% for r in reseni %}
            <tr>
                <td>
                    {{ r.cas|date:"j.n.Y" }}
                </td>
                <td>
                    {{ r.reseni }}
                </td>
                <td>
                    {{ r.FK_priklad }}
                </td>
                <td>
                    {% if r.je_spravne %}
                    <img src={% static 'img/icons/icons8-done.svg' %} style="height:24px;width:24px;"></img>
                    {% else %}
                    <img src={% static 'img/icons/icons8-close.svg' %} style="height:24px;width:24px;"></img>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
        </table>
</div>
{% endblock %}


{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script>
    const ctx = document.getElementById('myChart');
  
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: 'Počet řešených příkladů',
          data: {{ data|safe }},
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

    const ctx_uspesnost = document.getElementById('uspesnostChart');
  
    new Chart(ctx_uspesnost, {
      type: 'bar',
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: 'Úspěšnost',
          data: {{ data_uspesnost|safe }},
          backgroundColor: [
          'rgba(75, 192, 192, 0.2)'
          ],
          borderColor: [
            'rgb(75, 192, 192)'
          ],

          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script> 
{% endblock %}