{% extends "base.html" %}

{% block style %}
    <style>
        .priklad-link{
            color: black;
        }
        .float-left{
            float: left;
        }
        .float-rigth{
            float: right;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ ucebnice.nazev }}</h2>
        <div class="my-4">
            {% if kapitoly %}
                {% for k in kapitoly %}
                    <p>
                        <a href="#kapitola{{ k.id }}">{{ forloop.counter }}. {{ k.nazev }}</a>
                    </p>
                {% endfor %}
                {% for k in kapitoly %}
                    <div style="width: 50%;">
                        <h5 id="kapitola{{ k.id }}">
                            {{ forloop.counter }}. {{ k.nazev }}
                            <span style="font-size: 1rem;">
                                <a style="float:right;" href="/kapitola/{{ k.id}}/update">Upravit kapitolu</a>
                            </span>
                        </h5>
                    </div>
                    {% for c in cviceni %}
                        {% if c.FK_kapitola == k %}
                            <div style="width: 50%;">
                                <p>
                                    {{ c.text }}
                                    <a style="float:right;" href="/cviceni/{{ k.id}}/update">Upravit cvičení</a>
                                </p>
                            </div>
                            {% for p in priklady %}
                                {% if p.FK_cviceni == c %}
                                        <p style="width: 50%;">
                                            <span>\({{ p.priklad }}\)</span>
                                            <a style="float:right;" href="/priklad/{{ p.id}}/update">Upravit</a>
                                        </p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p>Nebyly nalezeny zadne kapitoly</p>
            {% endif %}
        </div>
    </div>
{% endblock %} 

{% block script %}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
{% endblock %} 