<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
    <h1>Heading 1</h1>
    <h2>{{ name }}</h2>
    <form id="post-form">
        {% csrf_token %}
        <input type="text" id="name" name="name"><br>
        <input type="submit">
    </form>
</body>
<script>
    $(document).on('submit','#post-form',function(e){
        e.preventDefault();

        $.ajax({
            type:'POST',
            url:'ajax',
            data:{
                name:$('#name').val(),
                heading:$('h1').html(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(data){
                $('h2').html(data)
            }
        })
    })
</script>
</html>