{% extends "base.html" %}
    
    {% block style %}
    <link rel="stylesheet" href="../../static/mathquill-0.10.1/mathquill.css" />
    <style>
        p.nav-link {
            margin: 0px;
        }

        .priklad {
            padding-left: 40px;
        }

        .cviceni {
            padding-left: 10px;
        }

        .kapitola {
            padding-left: 0px;
        }
        .math-field{
            border: none;
            background-color: white;
        }
        .editable-title{
            height:15px;
            width:15px;
            margin-bottom:3px;
        }
        .btn-add{
            background-color: white;
            border: none;
            color: #007bff;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }
    </style>
    {% endblock %}
{% block content %}

    <div class="container mt-5">
        <h2>
            <span id="ucebnice-nazev" role="textbox" contenteditable>{{ ucebnice.nazev }}</span>
        </h2>
        <div class="my-4">
            <ol id="obsah">
                {% for k in kapitoly %}
                    <a href="#kapitola{{ k.id }}">   
                        <li id="kapitola-{{ forloop.counter }}-obsah">{{ k.nazev }}</li>
                    </a>
                {% endfor %}
            </ol>
            <div style="width: 50%;">
                <ol id="ucebnice">
                {% if kapitoly %}
                {% for k in kapitoly %}
                    <li>
                        <h5 class="kapitola">
                            <span id="kapitola-{{ forloop.counter }}" role="textbox" contenteditable="true">{{ k.nazev }}</span>
                        </h5>
                    {% for c in cviceni %}
                        {% if c.FK_kapitola == k %}
                        <div>
                            <p class="cviceni">
                                <span id="kapitola-1-cviceni-1" role="textbox" contenteditable="true">{{ c.text }}</span>
                            </p>
                            {% for p in priklady %}
                                {% if p.FK_cviceni == c %}
                                        <p style="width: 50%;">
                                            <span>\({{ p.priklad }}\)</span>
                                        </p>
                                {% endif %}
                            {% endfor %}
                            <p class="priklad" id="kapitola1-cviceni-zatim-1-pridatPriklad">
                                <button class="btn-add" onclick="addPriklad(1,1)">+ priklad</button>
                            </p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    <p class="cviceni" id="kapitola-1-btn-add">
                        <button class="btn-add" onclick="addGenCviceni({{ forloop.counter }})">+ cvičení</button>
                    </p>
                    </li>
                {% endfor %}
                </ol>
                <p class="kapitola">
                    <button class="btn-add" onclick="addKapitolu()">+ kapitolu</button>
                    <br>
                    <form id="post-form">
                        {% csrf_token %}
                        <input type="submit">
                    </form>
                    <div id="div-response"></div>
                    
                </p>
        
            {% else %}
                <p class="kapitola">
                    <button class="btn-add" onclick="addKapitolu()">+ kapitolu</button>
                </p>
                <form id="post-form">
                    {% csrf_token %}
                    <input type="submit">
                    <p id="response"></p>
                </form>
            {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    {% block script %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../static/mathquill-0.10.1/mathquill.js"></script>

    <script>
        /*const mathFieldSpan = document.getElementById('math-field');
        const latexSpan = document.getElementById('id_priklad');
        latexSpan.style.display = 'none';

        var MQ = MathQuill.getInterface(2); // for backcompat
        var mathField = MQ.MathField(mathFieldSpan, {
            spaceBehavesLikeTab: true, // configurable
            handlers: {
                edit: function () { // useful event handlers
                    latexSpan.value = mathField.latex(); // simple API
                }
            }
        });*/

        
        const ucebnice = document.getElementById('ucebnice')

        const obsah = document.getElementById('obsah')


        function addPriklad(kapitola,cviceni){
            let pocet_prikladu = 0
            const cviceni_rand = document.getElementById(
                `kapitola-${kapitola}-cviceni-${cviceni}`)
            //console.log(cviceni_rand.childNodes.length)
            for(let i=0; i < cviceni_rand.childNodes.length; i++){
                if((i%2) == 0){
                    pocet_prikladu++
                }
            }
           //console.log(pocet_prikladu)

            const para = document.createElement("p");
            para.classList.add("priklad");

            const span = document.createElement("span");
            const node = document.createTextNode("1+1");
            span.appendChild(node);
            span.setAttribute('id',`math-field${pocet_prikladu}`);
            span.setAttribute('class','math-field')

            const img = document.createElement("img")
            img.setAttribute('id',`kapitola-${kapitola}-cviceni-${cviceni}-priklad-${pocet_prikladu}-close`)
            img.setAttribute('src','../../static/img/icons/icons8-close.svg')
            img.style.marginLeft = '10px'

            const input = document.createElement('input')
            input.setAttribute('type','text')
            input.setAttribute('name','priklad')
            input.setAttribute('value','')
            input.setAttribute('maxlength','200')
            input.setAttribute('required','')
            input.setAttribute('id',`id_priklad${pocet_prikladu}`)
            input.style.display='none'
        
            para.appendChild(span)
            para.appendChild(img)
            para.appendChild(input)

            var newMathField = MQ.MathField(span, {
            spaceBehavesLikeTab: true,
            handlers: {
                edit: function () {
                    input.value = mathField.latex();
                }
            }
            });

            const element = document.getElementById(`kapitola-${kapitola}-cviceni-${cviceni}`);
            element.parentElement.parentElement.appendChild(para);
        }
        function addCviceni(kapitola){
            //let pocet_cviceni = 0
            const kapitola_rand = document.getElementById(
                `kapitola-${kapitola}-cela`)
            /*for(let i=3; i < kapitola_rand.childNodes.length; i++){
                if((i-3)%2 == 0){
                    pocet_cviceni++
                }
            }*/
            const cele_cviceni = document.createElement('div')
            cele_cviceni.setAttribute('id',`kapitola-${kapitola}-cviceni-zatim-1`)
                const cele_bez_btn = document.createElement('div')
                // zatim bez atributu
                    const cviceni_nazev = document.createElement('p')
                    cviceni_nazev.setAttribute('class','cviceni')
                        const cviceni_nazev_span = document.createElement('span')
                        cviceni_nazev_span.setAttribute('id',`kapitola-${kapitola}-cviceni-1`) // zatim jedna
                        cviceni_nazev_span.setAttribute('role','textbox')
                        cviceni_nazev_span.contentEditable = 'true'
                        cviceni_nazev_span.innerHTML = 'Název cvičení'
                const add_priklad = document.createElement('p')
                add_priklad.setAttribute('class','priklad')
                add_priklad.setAttribute('id',`kapitola${kapitola}-cviceni-zatim-1-pridatPriklad`)
                    const add_priklad_btn = document.createElement('button')
                    add_priklad_btn.setAttribute('class','btn-add')
                    add_priklad_btn.setAttribute('onclick',`addPriklad(${kapitola},1)`) // zatim prvni cviceni
                    add_priklad_btn.innerHTML = '+ priklad'
            
            kapitola_rand.appendChild(cele_cviceni)
            cele_cviceni.appendChild(cele_bez_btn)
                cele_bez_btn.appendChild(cviceni_nazev)
                    cviceni_nazev.appendChild(cviceni_nazev_span)
            cele_cviceni.appendChild(add_priklad)
                add_priklad.appendChild(add_priklad_btn)
        }
        function addKapitolu(){
            let count_kapitoly = 1
            let i = 0
            for(; i < ucebnice.childNodes.length; i++){
                if (i % 2 == 1){
                    count_kapitoly += 1
                }
            }

            const kapitola = document.createElement('li')
            kapitola.setAttribute('id',`kapitola-${count_kapitoly}-cela`)

            const obsah = document.getElementById('obsah')
                const kapitola_link = document.createElement('a')
                kapitola_link.setAttribute('id',`kapitola-${count_kapitoly}-obsah`)
                kapitola_link.setAttribute('href',`#kapitola-${count_kapitoly}`)
                    const kapitola_link_li = document.createElement('li')
                    const kapitola_link_li_text = document.createTextNode('Název kapitoly')

            obsah.appendChild(kapitola_link)
                kapitola_link.appendChild(kapitola_link_li)
                    kapitola_link_li.appendChild(kapitola_link_li_text)
            

            const h5 = document.createElement('h5')
            h5.setAttribute('class','kapitola')

            const kapitola_span = document.createElement('span')
            kapitola_span.setAttribute('id',`kapitola-${count_kapitoly}`)
            kapitola_span.setAttribute('role','textbox')
            kapitola_span.contentEditable = 'true'
            const span_text = document.createTextNode("Název kapitoly")

            const kapitola_cviceni = document.createElement('p')
            kapitola_cviceni.setAttribute('class','cviceni')
            kapitola_cviceni.setAttribute('id',`kapitola-${count_kapitoly}-btn-add`)
            
            const cviceni_add_button = document.createElement('button')
            cviceni_add_button.setAttribute('class','btn-add')
            //console.log(count_kapitoly)
            cviceni_add_button.addEventListener('click',function(){
                addCviceni(count_kapitoly)
            })
            const cviceni_add_button_text = document.createTextNode("+ cvičení")

            
            ucebnice.appendChild(kapitola)
                kapitola.appendChild(h5)
                    h5.appendChild(kapitola_span)
                        kapitola_span.appendChild(span_text)

            ucebnice.appendChild(kapitola_cviceni)
                kapitola_cviceni.appendChild(cviceni_add_button)
                    cviceni_add_button.appendChild(cviceni_add_button_text)
        }
        function addGenCviceni(kapitola){
            let count_kapitoly = 0
            for(let i = 0; i < ucebnice.childNodes.length; i++){
                if(i % 2 == 1){
                    count_kapitoly++
                }
                if(kapitola == count_kapitoly){
                    console.log(ucebnice.childNodes[i].childNodes.length)
                    console.log(ucebnice.childNodes[i].childNodes[6])
                    //-2
                    break
                }
            }
        }
        function zmenaKapitol(){
            for(let i = 0; i < ucebnice.childNodes.length; i++){
                if(i % 2 == 1){
                    obsah.childNodes[i].childNodes[1].innerHTML = ucebnice.childNodes[i].childNodes[1].childNodes[1].innerHTML
                }
            }
        }
        document.addEventListener('click', (event) => {
            zmenaKapitol()
            
            // zmena id u obsahu a kapitol
            /*count_kapitoly = 0
            let j = 0
            for(let i=0; i < ucebnice.childNodes.length; i++){
                if (i % 2 == 0){
                    count_kapitoly += 1
                    for(; j < document.getElementById('obsah').childNodes.length; j++){
                        document.getElementById('obsah').childNodes[j].id = `kapitola-${j+1}-obsah`
                    }
                    ucebnice.childNodes[i].childNodes[0].childNodes[0].id = `kapitola-${count_kapitoly}`
                    console.log('suda')
                }
                else{
                    ucebnice.childNodes[i].class = `kapitola-${count_kapitoly}-btn-add`
                    ucebnice.childNodes[i].childNodes[0].onclick = `addCviceni(${count_kapitoly})`
                    console.log('licha')
                }
            }*/
            
        });


    </script>
    <script>
        $(document).on('submit','#post-form',function(e){
            e.preventDefault();
    
            $.ajax({
                type:'POST',
                url:'ajax',
                data:{
                    ucebnice_nazev:$('#ucebnice-nazev').html(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success: function(data){
                    //console.log(data)
                    document.getElementById('div-response').innerHTML = `
                    <div class="alert alert-success alert-dismissible fade show mx-5 mt-3 fixed-top" role="alert">
                        <span id="response"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>`
                    $('#response').html(data.successful)
                }
            })
        })
    </script>
    {% endblock %}
</body>

</html>